<%= if @devices == [] do %>
  <h1>No one's here... Spooky...</h1>
<% else %>
  <h1>Devices I found:</h1>
  <ul>
  <%= for %{name: n, mac: m} <- @devices do %>
    <li title="<%= m %>"><%= n %></li>
  <% end %>
  </ul>
<% end %>
