<%= if @devices == [] do %>
  <h3>No one's here... Spooky...</h3>
<% else %>
  <h3>Devices I found:</h3>
  <ul>
  <%= for %{name: n, mac: m} <- @devices do %>
    <li class="btn btn-success" title="<%= m %>"><%= n %></li>
  <% end %>
  </ul>
<% end %>
